body {
    background-image: url(img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling the navbar */
.navbar {
    background-color: #343a40;
}

.navbar-brand,
.nav-link {
    color: #111111 !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Styling for the container */
.container {
    margin-top: 20px;
}

/* Styling for the heading */
h1 {
    font-size: 2.5rem;
    color: #fdfcfd;
}

/* Styling for the cards */
.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #f54260ec;
    color: #ffffff;
}

.card-body {
    background-color: #ffffff;
}

.card-title {
    font-size: 2rem;
}

.list-unstyled li {
    margin: 10px 0;
    font-size: 1.1rem;
}

/* Button styling */
.btn-primary,
.btn-outline-primary {
    border-radius: 50px;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Specific card color styles */
.card .card-header.py-3.text-bg-primary.border-primary {
    background-color: #f54260ec !important;
    border-color: #f54260ec !important;
}

.card .w-100.btn.btn-lg.btn-primary {
    background-color: #f54260ec;
    border-color: #f54260ec;
}

.card .w-100.btn.btn-lg.btn-outline-primary {
    color: #f54260ec;
    border-color: #f54260ec;
}

/* Styling the form */
.form-control {
    border-radius: 50px;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-success {
    border-radius: 50px;
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    border-color: #28a745;
    color: #ffffff;
}